html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}

* {
    font-size: 14px;
    font-family: Arial;
   }

.black-icon {
    opacity: 50%;
}

#apps-icon:hover, #sign-in:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}   

a {
    display: block;
    padding: 0;
    margin: 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; !important
}

header a {
    color: rgb(39, 39, 39);
}

ul {
   display: flex;
   float: right;
   align-items: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

li {
    display: inline;
    margin: 3px;
}

#apps-icon {
    display: flex;
    margin: 5px;
    padding: 10px;
}

#apps-icon:hover {
    background-color: rgba(192, 192, 192, 0.267);
    background-size: 150%;
    border-radius: 25px;
}

li button {
    height: 35px;
    width: 95px;
    background-color: rgb(49, 114, 235);
    color: white;
    border-radius: 4px;
    border: none;
    margin: 5px;
}

li button:hover {
    filter: brightness(110%)
}

li button:active {
    filter: brightness(125%)
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    padding: 250px 0px 0px 250px;
}

#google-logo {
    margin: auto auto 25px 140px;
}

form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: ;
}

#searchbar {
    padding-left: 40px;
    border-radius: 50px;
    border-color: rgba(194, 194, 194, 0.342);
    border-width: 1px;
    height: 45px;
    width: 570px;
    position: relative;
    padding-right: -25px;
}

#searchbar:hover, #searchbar:target #searchbar:focus {
    outline: rgba(128, 128, 128, 0.534) solid 1px;
    box-shadow: lightslategrey 1px;
}

#searchbar:focus-visible {
    outline: rgba(128, 128, 128, 0.534) solid 1px;

}

form > .search-bar {
    position: absolute;
    top: 12px;
    left: 15px;
}

form > #search-mic-div{
    display: flex;
    margin-left: -30px;
    z-index: 3;
}

form > #search-lens {
    top: 13px;
}

#search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
}

.search-button {
    padding: 10px 12px 10px 12px;
    margin: 5px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 4px;
}

.search-button:hover  {
    outline: grey solid 1px;
    cursor: pointer;
}

.search-button:active {
    outline: #0f45da solid 1px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    float: inline-end;
    width: 100%;
    list-style-type: none;
    clear: both;
    background-color: rgb(240, 240, 240);
    position: absolute;
}

#footer1, #footer2 {
    margin: 0px 20px 0 20px;
}

footer li {
    padding: 7px;
}

footer a {
    color: rgb(100, 100, 100);
}
